resources:
- name: Student Role
  type: gcp-types/iam-v1:projects.roles
  properties:
    parent: projects/{{ env["project"] }}
    roleId: studentrole_{{ env["current_time"] }}
    role:
      title: StudentRole
      description: Role for students to complete the Lab
      stage: GA
      includedPermissions:
        # Read-only permissions
        - resourcemanager.projects.get # Needed for Console views
        - compute.projects.get # Start needed for GKE Console views
        - servicemanagement.services.check 
        - servicemanagement.services.get
        - servicemanagement.services.list
        - serviceusage.operations.get
        - serviceusage.operations.list
        - serviceusage.quotas.get
        - serviceusage.services.get
        - serviceusage.services.list
        - serviceconsumermanagement.consumers.get 
        - serviceconsumermanagement.quota.get 
        - serviceconsumermanagement.tenancyu.list # End needed for GKE Console views
        - compute.acceleratorTypes.get # Begin Compute Viewer
        - compute.acceleratorTypes.list
        - compute.addresses.get
        - compute.addresses.list
        - compute.autoscalers.get
        - compute.autoscalers.list
        - compute.backendBuckets.get
        - compute.backendBuckets.list
        - compute.backendServices.get
        - compute.backendServices.list
        - compute.commitments.get
        - compute.commitments.list
        - compute.diskTypes.get
        - compute.diskTypes.list
        - compute.disks.get
        - compute.disks.getIamPolicy
        - compute.disks.list
        - compute.firewalls.get
        - compute.firewalls.list
        - compute.forwardingRules.get
        - compute.forwardingRules.list
        - compute.globalAddresses.get
        - compute.globalAddresses.list
        - compute.globalForwardingRules.get
        - compute.globalForwardingRules.list
        - compute.globalOperations.get
        - compute.globalOperations.getIamPolicy
        - compute.globalOperations.list
        - compute.healthChecks.get
        - compute.healthChecks.list
        - compute.httpHealthChecks.get
        - compute.httpHealthChecks.list
        - compute.httpsHealthChecks.get
        - compute.httpsHealthChecks.list
        - compute.images.get
        - compute.images.getFromFamily
        - compute.images.getIamPolicy
        - compute.images.list
        - compute.instanceGroupManagers.get
        - compute.instanceGroupManagers.list
        - compute.instanceGroups.get
        - compute.instanceGroups.list
        - compute.instanceTemplates.get
        - compute.instanceTemplates.list
        - compute.instances.get
        - compute.instances.getGuestAttributes
        - compute.instances.getIamPolicy
        - compute.instances.getSerialPortOutput
        - compute.instances.list
        - compute.instances.listReferrers
        - compute.interconnectAttachments.get
        - compute.interconnectAttachments.list
        - compute.interconnectLocations.get
        - compute.interconnectLocations.list
        - compute.interconnects.get
        - compute.interconnects.list
        - compute.licenseCodes.get
        - compute.licenseCodes.list
        - compute.licenses.get
        - compute.licenses.getIamPolicy
        - compute.licenses.list
        - compute.machineTypes.get
        - compute.machineTypes.list
        - compute.maintenancePolicies.get
        - compute.maintenancePolicies.getIamPolicy
        - compute.maintenancePolicies.list
        - compute.networks.get
        - compute.networks.list
        - compute.nodeGroups.get
        - compute.nodeGroups.list
        - compute.nodeTemplates.get
        - compute.nodeTemplates.list
        - compute.nodeTypes.get
        - compute.nodeTypes.list
        - compute.projects.get
        - compute.regionBackendServices.get
        - compute.regionBackendServices.list
        - compute.regionOperations.get
        - compute.regionOperations.getIamPolicy
        - compute.regionOperations.list
        - compute.regions.get
        - compute.regions.list
        - compute.routers.get
        - compute.routers.list
        - compute.routes.get
        - compute.routes.list
        - compute.securityPolicies.get
        - compute.securityPolicies.getIamPolicy
        - compute.securityPolicies.list
        - compute.snapshots.get
        - compute.snapshots.getIamPolicy
        - compute.snapshots.list
        - compute.sslCertificates.get
        - compute.sslCertificates.list
        - compute.sslPolicies.get
        - compute.sslPolicies.list
        - compute.sslPolicies.listAvailableFeatures
        - compute.subnetworks.get
        - compute.subnetworks.getIamPolicy
        - compute.subnetworks.list
        - compute.targetHttpProxies.get
        - compute.targetHttpProxies.list
        - compute.targetHttpsProxies.get
        - compute.targetHttpsProxies.list
        - compute.targetInstances.get
        - compute.targetInstances.list
        - compute.targetPools.get
        - compute.targetPools.list
        - compute.targetSslProxies.get
        - compute.targetSslProxies.list
        - compute.targetTcpProxies.get
        - compute.targetTcpProxies.list
        - compute.targetVpnGateways.get
        - compute.targetVpnGateways.list
        - compute.urlMaps.get
        - compute.urlMaps.list
        - compute.urlMaps.validate
        - compute.vpnTunnels.get
        - compute.vpnTunnels.list
        - compute.zoneOperations.get
        - compute.zoneOperations.getIamPolicy
        - compute.zoneOperations.list
        - compute.zones.get
        - compute.zones.list
        - serviceusage.quotas.get
        - serviceusage.services.get
        - serviceusage.services.list # End compute viewer
        - container.apiServices.get # Begin Kubernetes viewer
        - container.apiServices.list
        - container.bindings.get
        - container.bindings.list
        - container.certificateSigningRequests.get
        - container.certificateSigningRequests.list
        - container.clusterRoleBindings.get
        - container.clusterRoleBindings.list
        - container.clusterRoles.get
        - container.clusterRoles.list
        - container.clusters.get
        - container.clusters.list
        - container.componentStatuses.get
        - container.componentStatuses.list
        - container.configMaps.get
        - container.configMaps.list
        - container.controllerRevisions.get
        - container.controllerRevisions.list
        - container.cronJobs.get
        - container.cronJobs.getStatus
        - container.cronJobs.list
        - container.customResourceDefinitions.get
        - container.customResourceDefinitions.list
        - container.daemonSets.get
        - container.daemonSets.getStatus
        - container.daemonSets.list
        - container.deployments.get
        - container.deployments.getStatus
        - container.deployments.list
        - container.endpoints.get
        - container.endpoints.list
        - container.events.get
        - container.events.list
        - container.horizontalPodAutoscalers.get
        - container.horizontalPodAutoscalers.getStatus
        - container.horizontalPodAutoscalers.list
        - container.ingresses.get
        - container.ingresses.getStatus
        - container.ingresses.list
        - container.initializerConfigurations.get
        - container.initializerConfigurations.list
        - container.jobs.get
        - container.jobs.getStatus
        - container.jobs.list
        - container.limitRanges.get
        - container.limitRanges.list
        - container.namespaces.get
        - container.namespaces.getStatus
        - container.namespaces.list
        - container.networkPolicies.get
        - container.networkPolicies.list
        - container.nodes.get
        - container.nodes.getStatus
        - container.nodes.list
        - container.operations.get
        - container.operations.list
        - container.persistentVolumeClaims.get
        - container.persistentVolumeClaims.getStatus
        - container.persistentVolumeClaims.list
        - container.persistentVolumes.get
        - container.persistentVolumes.getStatus
        - container.persistentVolumes.list
        - container.petSets.get
        - container.petSets.list
        - container.podDisruptionBudgets.get
        - container.podDisruptionBudgets.getStatus
        - container.podDisruptionBudgets.list
        - container.podPresets.get
        - container.podPresets.list
        - container.podSecurityPolicies.get
        - container.podSecurityPolicies.list
        - container.podTemplates.get
        - container.podTemplates.list
        - container.pods.get
        - container.pods.getStatus
        - container.pods.list
        - container.replicaSets.get
        - container.replicaSets.getScale
        - container.replicaSets.getStatus
        - container.replicaSets.list
        - container.replicationControllers.get
        - container.replicationControllers.getScale
        - container.replicationControllers.getStatus
        - container.replicationControllers.list
        - container.resourceQuotas.get
        - container.resourceQuotas.getStatus
        - container.resourceQuotas.list
        - container.roleBindings.get
        - container.roleBindings.list
        - container.roles.get
        - container.roles.list
        - container.scheduledJobs.get
        - container.scheduledJobs.list
        - container.serviceAccounts.get
        - container.serviceAccounts.list
        - container.services.get
        - container.services.getStatus
        - container.services.list
        - container.statefulSets.get
        - container.statefulSets.getStatus
        - container.statefulSets.list
        - container.storageClasses.get
        - container.storageClasses.list
        - container.thirdPartyObjects.get
        - container.thirdPartyObjects.list
        - container.thirdPartyResources.get
        - container.thirdPartyResources.list # End Kubernetes viewer
        - container.secrets.get # View Kubernets secrets
        - container.secrets.list # View Kubernetes secrets
        - cloudnotifications.activities.list # Begin monitoring viewer
        - monitoring.alertPolicies.get
        - monitoring.alertPolicies.list
        - monitoring.dashboards.get
        - monitoring.dashboards.list
        - monitoring.groups.get
        - monitoring.groups.list
        - monitoring.metricDescriptors.get
        - monitoring.metricDescriptors.list
        - monitoring.monitoredResourceDescriptors.get
        - monitoring.monitoredResourceDescriptors.list
        - monitoring.notificationChannelDescriptors.get
        - monitoring.notificationChannelDescriptors.list
        - monitoring.notificationChannels.get
        - monitoring.notificationChannels.list
        - monitoring.publicWidgets.get
        - monitoring.publicWidgets.list
        - monitoring.timeSeries.list
        - monitoring.uptimeCheckConfigs.get
        - monitoring.uptimeCheckConfigs.list
        - stackdriver.projects.get # End monitoring viewer
        - container.deployments.create # Begin GKE write permissions
        - container.deployments.delete
        - container.deployments.getScale
        - container.deployments.rollback
        - container.deployments.update
        - container.deployments.updateScale
        - container.deployments.updateStatus
        - container.endpoints.create
        - container.endpoints.delete
        - container.endpoints.update
        - container.horizontalPodAutoscalers.create
        - container.horizontalPodAutoscalers.delete
        - container.horizontalPodAutoscalers.update
        - container.horizontalPodAutoscalers.updateStatus
        - container.ingresses.create
        - container.ingresses.delete
        - container.ingresses.update
        - container.ingresses.updateStatus
        - container.namespaces.create
        - container.namespaces.delete
        - container.namespaces.update
        - container.persistentVolumeClaims.create
        - container.persistentVolumeClaims.delete
        - container.persistentVolumeClaims.update
        - container.persistentVolumeClaims.updateStatus
        - container.persistentVolumes.create
        - container.persistentVolumes.delete
        - container.persistentVolumes.update
        - container.persistentVolumes.updateStatus
        - container.pods.attach
        - container.pods.create
        - container.pods.delete
        - container.pods.evict
        - container.pods.exec
        - container.pods.getLogs
        - container.pods.portForward
        - container.pods.proxy
        - container.pods.update
        - container.pods.updateStatus
        - container.secrets.create
        - container.secrets.delete
        - container.secrets.update
        - container.serviceAccounts.create
        - container.serviceAccounts.delete
        - container.serviceAccounts.update
        - container.services.create
        - container.services.delete
        - container.services.proxy
        - container.services.update
        - container.services.updateStatus
        - container.statefulSets.create
        - container.statefulSets.delete
        - container.statefulSets.getScale
        - container.statefulSets.update
        - container.statefulSets.updateScale
        - container.statefulSets.updateStatus 
        - container.certificateSigningRequests.approve
        - container.certificateSigningRequests.create
        - container.certificateSigningRequests.delete
        - container.certificateSigningRequests.update
        - container.certificateSigningRequests.updateStatus
        - container.configMaps.create
        - container.configMaps.delete
        - container.configMaps.update
        - container.cronJobs.create
        - container.cronJobs.delete
        - container.cronJobs.update
        - container.cronJobs.updateStatus
        - container.customResourceDefinitions.create
        - container.customResourceDefinitions.delete
        - container.customResourceDefinitions.update
        - container.customResourceDefinitions.updateStatus
        - container.daemonSets.create
        - container.daemonSets.delete
        - container.daemonSets.update
        - container.daemonSets.updateStatus
        - container.events.create
        - container.events.delete
        - container.events.update
        - container.jobs.create
        - container.jobs.delete
        - container.jobs.update
        - container.jobs.updateStatus
        - container.limitRanges.create
        - container.limitRanges.delete
        - container.limitRanges.update
        - container.namespaces.updateStatus
        - container.networkPolicies.create
        - container.networkPolicies.delete
        - container.networkPolicies.update
        - container.podDisruptionBudgets.create
        - container.podDisruptionBudgets.delete
        - container.podDisruptionBudgets.update
        - container.podDisruptionBudgets.updateStatus
        - container.podSecurityPolicies.create
        - container.podSecurityPolicies.delete
        - container.podSecurityPolicies.update
        - container.podSecurityPolicies.use
        - container.podTemplates.create
        - container.podTemplates.delete
        - container.podTemplates.update
        - container.replicaSets.create
        - container.replicaSets.delete
        - container.replicaSets.update
        - container.replicaSets.updateScale
        - container.replicaSets.updateStatus
        - container.replicationControllers.create
        - container.replicationControllers.delete
        - container.replicationControllers.update
        - container.replicationControllers.updateScale
        - container.replicationControllers.updateStatus
        - container.resourceQuotas.create
        - container.resourceQuotas.delete
        - container.resourceQuotas.update
        - container.resourceQuotas.updateStatus
        - container.storageClasses.create
        - container.storageClasses.delete
        - container.storageClasses.update
        - container.clusterRoles.bind # Needed for click to deploy
        - container.clusterRoles.create # Needed for click to deploy
        - container.clusterRoles.delete # Needed for click to deploy
        - container.clusterRoles.update # Needed for click to deploy
        - container.clusterRoleBindings.create # Needed for click to deploy
        - container.clusterRoleBindings.delete # Needed for click to deploy
        - container.clusterRoleBindings.update # Needed for click to deploy
        - container.thirdPartyObjects.create # Needed for click to deploy
        - container.thirdPartyObjects.delete # Needed for click to deploy
        - container.thirdPartyObjects.update # Needed for click to deploy
        - container.roleBindings.create # Needed for click to deploy
        - container.roleBindings.delete # Needed for click to deploy
        - container.roleBindings.update # Needed for click to deploy # End GKE write permissions